{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h1>{{title}}</h1>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <form action="{{url_for('search_cinemas')}}" class="d-flex" role="search">
                <input type="search" name="data_search" class="form-control me-2"
                    placeholder="Nhập tên hoặc vị trí rạp chiếu phim" />

                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <a href="{{ url_for('view_cinema_maps')}}" class="btn btn-primary mt-3 max-width-content" role="button">
                Xem dưới dạng bản đồ
            </a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="list-gruop">
                {% for cinema in cinemas %}
                <a href="" class="list-group-item">
                    <h3 class="list-group-item-heading">{{cinema.name}}</h3>
                    <span>{{cinema.address}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}