.product {
  padding: 50px 0;
  text-align: center;
}

.product .container h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fe7900;
}
.product .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product .container .col {
  width: calc(100% / 4);
}
.product .col .item .info img {
  width: 100%;
}
.product .item .control h3 {
  font-size: 16px;
  color: #000;
  padding-top: 10px;
}
.product .item .control h3 {
  font-size: 13px;
  color: #999;
  margin-top: -5px;
}
.product .item .control a {
  padding: 10px 42px;
  background-color: #0c2235;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.product .item .control a i {
  background: #fe7900;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.product .item .control a:hover {
  text-decoration: underline;
}

.carousel {
  padding: 50px 0;
}
.carousel .container h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fe7900;
}
.carousel .container .testimonial-slider {
  display: flex;
  /* flex-wrap: wrap; */
}
.carousel .container .col {
  width: calc(100% / 6);
  padding-right: 20px;
}
.carousel .col .testimonial-comment .info img {
  width: 100%;
}
.carousel .testimonial-comment .body h3 {
  font-size: 16px;
  color: #000;
  padding-top: 10px;
}
.carousel .testimonial-slider .testimonial-comment .body h3 {
  font-size: 13px;
  color: #999;
  margin-top: -5px;
}
.carousel .testimonial-comment .control a {
  padding: 10px 12px;
  /* background-color: #0c2235; */
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.carousel .testimonial-comment .control a i {
  background: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.carousel .testimonial-comment .control a:hover {
  text-decoration: underline;
}

.future .container h1 {
  font-size: 30px;
}
.future .container p {
  font-size: 17px;
}
