{% extends "admin.html" %} {% block title %} {{ title }} {% endblock %} {% block
body %}
<form class="row g-3" action="{{ url_for('addmovie_s2') }}" method="post">
  <div class="col-10">
    <label for="name" class="form-label">Tên phim</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Nhập tên phim"
    />
  </div>
  <div class="col-md-5">
    <label for="director" class="form-label">Đạo diễn</label>
    <input
      type="text"
      name="director"
      class="form-control"
      id="director"
      placeholder="Nhập tên đạo diễn"
    />
  </div>
  <div class="col-md-5">
    <label for="inputAddress" class="form-label">Ảnh</label>
    <input
      type="file"
      name="img"
      class="form-control"
      id="inputAddress"
      placeholder="Ảnh "
    />
  </div>
  <div class="col-md-5">
    <label for="actor" class="form-label">Diễn viên</label>
    <input
      type="text"
      class="form-control"
      id="actor"
      name="actor"
      placeholder="Nhập tên diễn viên"
    />
  </div>
  <div class="col-md-5">
    <label for="genre" class="form-label">Thể loại</label>
    <input
      type="text"
      name="genre"
      class="form-control"
      id="genre"
      placeholder="Thể loại"
    />
  </div>
  <div class="col-10">
    <label for="describe" class="form-label">Mô tả</label>
    <input
      type="text"
      class="form-control"
      id="describe"
      name="describe"
      placeholder="Mô tả bộ phim"
    />
  </div>
  <div class="col-md-5">
    <label for="release_date" class="form-label">Ngày công chiếu</label>
    <input
      type="date"
      name="release_date"
      class="form-control"
      id="release_date"
      placeholder="Ngày công chiếu"
    />
  </div>
  <div class="col-md-5">
    <label for="inputState" class="form-label">Ngôn ngữ</label>
    <select id="inputState" class="form-select" name="language">
      <option selected>English</option>
      <option>Việt Nam</option>
      <option>Trung Quốc</option>
      <option>Nhật Bản</option>
    </select>
  </div>
  <div class="col-md-5">
    <label for="running_time" class="form-label">Thời lượng</label>
    <input
      type="time"
      name="running_time"
      class="form-control"
      id="running_time"
      placeholder="Thời lượng phim"
    />
  </div>
  <div class="col-md-5">
    <label for="inputAddress" class="form-label">Đánh giá</label>
    <input type="range" name="rated" class="form-control" id="inputAddress" />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Thêm Phim</button>
  </div>
</form>
{% endblock %}
