{% extends "layout.html" %} {% block title %} {{ title }} {% endblock %}
<head>
  <!--css-->
  <link href="../static/css/index.css" rel="stylesheet" />
</head>

{% block body %}
<section class="product">
        <div class="container">
            <h1>PHIM ĐANG CHIẾU</h1>
            <div class="row">
                <div class="col">
                    <div class="item">
                    <div class="info">
                        <img src="../static/img/a2.jpg" alt="BLACK" />
                    </div>
                    <div class="control">
                        <h3>BLACK PANTHER:WANKANDE FOEVER</h3>
                        <p>Khởi chiếu:10.11.2022</p>
                        <button><i class="fa-solid fa-exclamation"></i> Xem chi tiết! <button>     
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                    <div class="info">
                        <img src="../static/img/a2.jpg" alt="BLACK" />
                    </div>
                    <div class="control">
                        <h3>BLACK PANTHER:WANKANDE FOEVER</h3>
                        <p>Khởi chiếu:10.11.2022</p>
                        <button><i class="fa-solid fa-exclamation"></i> Xem chi tiết! <button>     
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                    <div class="info">
                        <img src="../static/img/a2.jpg" alt="BLACK" />
                    </div>
                    <div class="control">
                        <h3>BLACK PANTHER:WANKANDE FOEVER</h3>
                        <p>Khởi chiếu:10.11.2022</p>
                        <button><i class="fa-solid fa-exclamation"></i> Xem chi tiết! <button>     
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                    <div class="info">
                        <img src="../static/img/a2.jpg" alt="BLACK" />
                    </div>
                    <div class="control">
                        <h3>BLACK PANTHER:WANKANDE FOEVER</h3>
                        <p>Khởi chiếu:10.11.2022</p>
                        <button><i class="fa-solid fa-exclamation"></i> Xem chi tiết! <button>     
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
