<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Montserrat:ital,wght@0,100;0,200;0,600;1,100;1,200;1,500&family=Oswald:wght@400;500;600&display=swap"
        rel="stylesheet" />
    <!--icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <!-- <<! slick !>> -->
    <link rel="stylesheet" type="text/css" href="../static/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/slick-1.8.1/slick/slick-theme.css" />
    <!--css-->
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Website!</title>
    {% endif %}
    {% block cdn %}{% endblock %}
  </head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo d-flex align-items-center">
                <a href="#" style="padding-right: 10px">
                    <img src="/static/img/logo.png" alt="logo" />
                </a>
                <div class="info">
                    <input placeholder="searth" />
                    <button>Tìm kiếm</button>
                </div>
            </div>
            <nav class="navbar" style="margin-top: 15px">
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    <p>Trang chủ</p>
                </a>
                <a href="#">
                    <i class="fa-regular fa-clock"></i>
                    <p>Lịch chiếu</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-video"></i>
                    <p>Đang chiếu</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-film"></i>
                    <p>Sắp chiếu</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-align-justify"></i>
                    <p>Rạp</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-radio"></i>
                    <p>Tin điện ảnh</p>
                </a>
            </nav>
            <div class="login">
                {% if current_user.is_authenticated %} Chào {{current_user.fullname}}
                <a href="{{url_for('logout')}}" class="btn btn-outline-danger me-2" role="button">Đăng xuất</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2" role="button">Đăng nhập</a>
                <a href="{{ url_for('sign_up') }}" class="btn btn-primary btn" role="button">Đăng kí</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block body %} {% endblock %}
    <div style="min-height: 10vh"></div>
    <footer class="footer">
        <!-- style="background-image: url('../static/img/footer_bg.jpg'); color: #fff" -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="item">
                        <h1>PHIM</h1>
                        <ul>
                            <li>Phim đang chiếu</li>
                            <li>Phim sắp chiếu</li>
                            <li>Phim tháng 11/2022</li>
                            <li>Phim chiếu lại</li>
                            <li>Đánh giá phim</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <h1>RẠP</h1>
                        <ul>
                            <li>CGV</li>
                            <li>Lotte</li>
                            <li>Galaxy</li>
                            <li>BHD</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <h1>PHIM SẮP RA MẮT</h1>
                        <ul>
                            <li>SAZAM FURY OF THE GODS - 17/03/2023</li>
                            <li>MÈO ĐI HIA: ĐIỀU ƯỚC CUỐI CÙNG - 30/12/2022</li>
                            <li>NHÀ BÀ NỮ - 22/01/2023</li>
                            <li>BHD</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-flickr"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>© Copyright 2017 Rapchieuphim.com</p>
                </div>
                <div class="col col-right">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of us</a>
                    <a href="#">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slick -->
    <script type="text/javascript" src="../static/slick-1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script>
        $(document).ready(function () {
            $(".testimonial-slider").slick({
                autoplay: true,
                slidesToShow: 6,
                slidesToScroll: 1,
                arrows: false,
                dots: true,
            });
        });
    </script>

    <!-- Hiển thị thông báo -->
    {% with messages = get_flashed_messages() %}
    {% if messages[0] %}
    <input type="hidden" id="hiddenElement" value="{{messages[0]}}"></input>
    <script>
        alert(document.getElementById('hiddenElement').value);
    </script>
    {% endif %}
    {% endwith %}
</body>

</html>
