{% extends "admin.html" %} {% block title %} {{ title }} {% endblock %} {% block
body %}

<div class="user">
  <div class="container">
    <button class="btn btn-warning text-white">Thêm phim</button>
    <form class="d-flex pt-3 pb-3">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>id</th>
          <th>Tên</th>
          <th>Ảnh</th>
          <th>Đạo diễn</th>
          <th>Diễn viên</th>
          <th>Thể loại</th>
          <th>Ngôn ngữ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lão hạc</td>
          <td><img src="../static/img/a4.jpg" style="width: 50px" /></td>
          <td>Robert</td>
          <td>Tom</td>
          <td>Hành động</td>
          <td>Englighs</td>
          <td>
            <a href="#" style="font-size: 20px">
              <i
                class="fa-solid fa-trash"
                style="color: Red; padding-right: 5px"
              ></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-pen-to-square" style="color: blue"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
